
<!-- <div class="error container m-3 p-2">
    <% if(errorMessage){  %>
        <div class="alert alert-danger">
            <%= errorMessage %>
        </div>
    <% } %>
</div> -->

<div class="container " style="font-family: 'Poppins',sans-serif; font-weight: 10;">
    <div class="container p-3 mx-auto w-50 my-5 rounded-md form-box" id="createjob">
        <h3 style="color: #181462 ; font-family: 'Poppins', sans-serif;" class="text-center mb-3">Post a new job</h2>
            <div class="eror" style="font-weight: 300;">
                <% if(errorMessage){  %>
                    <div class="alert alert-danger">
                        <%= errorMessage %>
                    </div>
                <% } %>
            </div>
        <form action="/jobs" method="post">
            <div class="input-group mb-3">
                <select name="job_category" class="form-select">
                    <option selected disabled>Select Job Category</option>
                    <option value="Tech" >tech</option>
                    <option value="non_tech">Non Tech</option>
                </select>
            </div>
            <div class="input-group mb-3">
                <select name="job_designation" class="form-select">
                    <option selected disabled>Select Job designation</option>
                    <option value="developer">Developer</option>
                    <option value="DevOps">DevOps</option>
                    <option value="HR">HR</option>
                    <option value="SDE">SDE</option>
                    <option value="MERN">MERN DEVELOPER</option>
                    <option value="Java">JAVA DEVELOPER</option>
                    <option value="FRONT END DEVELOPER">FRONT END DEVELOPER</option>
                    <option value="BACK END DEVELOPER">BACK END DEVELOPER</option>
                </select>
            </div>
            <div class="input-group mb-3">
                <label for="job_location" class="form-label" style="font-weight: 200;">Enter job location</label>
                <div class="input-group mb-3"><input type="text" name="job_location" class="form-control"></div>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-text">Company Name</div>
                <input type="text" name="job_company" class="form-control">
            </div>
            <div class="input-group mb-3">
                <input type="number" name="job_salary" class="form-control" placeholder="Eanter a Salary">
                <div class="input-group-text">No. of Positions</div>
                <input type="number" class="form-control" name="job_positions" step="0" min="1">
            </div>
            <div class="input-group mb-3">
                <select name="job_skills" id="job_skills" class="form-select" multiple >
                    <option disabled selected >Skills Requred for this job</option>
                    <option value="React">React</option>
                    <option value="Node">Node</option>
                    <option value="MongoDB">MongoDB</option>
                    <option value="Express">Express</option>
                    <option value="C++">C++</option>
                    <option value="Python">Python</option>
                    <option value="Angular">Angular</option>
                    <option value="springBoot">SpringBoot</option>
                    <option value="java">Java</option>
                    <option value="JavaScript">JavaScript</option>
                    <option value="web_development">Web web Development</option>
                </select>
                <span class="input-group-text">Apply By:</span>
                <input type="date" name="job_time" class="form-control">
            </div>
            <button type="submit" class="btn btn-md btn-success w-100 mb-3 mt-2 p-2">Create a Job</button>
        </form>
    </div>
</div>
